.heading {
    font-size: .85rem;
    text-align: center;
    font-weight: 300;
    margin-left: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
    @include for-md-screen {
        font-size: 1rem;
        text-align: left;
    }
}

.search-container {
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: center;
    @include for-md-screen {
        margin-left: 15px;
        text-align: left;
    }
}

.search {
    width: 100%;
    height: 50px;
    border: 1px solid #d0d8db;
    border-radius: 5px;
    @include for-md-screen {
        width: 50%;
    }
}

.card {
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
    height: 135px;
    cursor: pointer;
    @include for-md-screen {
        width: 100%;
    }
}

.avatar, 
.modal-avatar {
    width: 100px;
    height: 100px;
    margin: 0 15px;
    align-self: center;
    border-radius: 50%;
    opacity: .85;
}

.text-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.name ,
.email, 
.address,
.phone,
.dob {
    margin: 2px 0;
    flex: 0 0 100%;
}

.email,
.address,
.phone,
.dob {
    font-weight: 300;
    font-size: .8rem;
    color: darkgrey;
}

.name {
    font-size: .9rem;
}

//Overlay Styles

.modal-close {
    background-color: transparent;
    border: none;
    font-size: .75rem;
}

.modal-avatar {
    width: 125px;
    height: 125px;
}

.modal-name,
.modal-email,
.modal-address,
.phone,
.dob {
    padding: 3px 0;
}

.modal-name {
    margin-top: 15px;
}

.modal-next,
.modal-previous {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    opacity: .8;
    cursor: pointer;
    user-select: none;
}

.modal-previous {
    position: absolute;
    width: 50px;
    margin: 0;
    font-size: 1.75rem;
    top: 40%;
    right: 105%;
}
.modal-next {
    position: absolute;
    width: 50px;
    margin: 0;
    font-size: 1.75rem;
    top: 40%;
    left: 105%;
}


hr {
    width: 90%;
    height: 1px;
    margin: 25px 0;
    background-color: lightgrey;
    border: none;
}

